# Feature Encoding

## *One Hot Encoding*

In [2]:
import pandas as pd

data = {
    'color': ['Red', 'Blue', 'Green', 'Red']
}

df = pd.DataFrame(data)
df.head()

   color
0    Red
1   Blue
2  Green
3    Red

In [3]:
df_encoded = pd.get_dummies(df, columns=['color'])
print(df_encoded)

   color_Blue  color_Green  color_Red
0       False        False       True
1        True        False      False
2       False         True      False
3       False        False       True

## *Label Encoding*

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
data = {
    'Animal': ['Dog', 'Cat', 'Bird', 'Dog', 'Bird']
}
df = pd.DataFrame(data)
print(df)

  Animal
0    Dog
1    Cat
2   Bird
3    Dog
4   Bird

In [6]:
label_encoder = LabelEncoder()
df['Animal_encoded'] = label_encoder.fit_transform(df['Animal'])
print(df)

  Animal  Animal_encoded
0    Dog               2
1    Cat               1
2   Bird               0
3    Dog               2
4   Bird               0

## *Ordinal Encoding*

In [7]:
from sklearn.preprocessing import OrdinalEncoder

In [8]:
data = {
    'Size': ['Small', 'Medium', 'Large', 'Medium']
}

df = pd.DataFrame(data)
df.head()

     Size
0   Small
1  Medium
2   Large
3  Medium

In [9]:
ordinal_ecoder = OrdinalEncoder(categories=[['Small', 'Medium', 'Large']])
df['Size_encoded'] = ordinal_ecoder.fit_transform(df[['Size']])
df

     Size  Size_encoded
0   Small           0.0
1  Medium           1.0
2   Large           2.0
3  Medium           1.0