# Feature Scaling

In [ ]:
pip install scikit-learn

## *Min Max Scaling*

In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

data = {
    'Value': [10, 20, 30, 40, 50]
}

df = pd.DataFrame(data)
df.head()

   Value
0     10
1     20
2     30
3     40
4     50

In [5]:
scaler = MinMaxScaler()
df['Value_scaled'] = scaler.fit_transform(df[['Value']])
df.head()

   Value  Value_scaled
0   0.00          0.00
1   0.25          0.25
2   0.50          0.50
3   0.75          0.75
4   1.00          1.00

## *Standard Scaler*

In [6]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

data = {
    'Value': [10, 20, 30, 40, 50]
}

df = pd.DataFrame(data)
df.head()

   Value
0     10
1     20
2     30
3     40
4     50

In [7]:
scaler = StandardScaler()
df['Value_scaled'] = scaler.fit_transform(df[['Value']])
df.head()

   Value  Value_scaled
0     10     -1.414214
1     20     -0.707107
2     30      0.000000
3     40      0.707107
4     50      1.414214

## *Robust Scaler*

In [8]:
import pandas as pd
from sklearn.preprocessing import RobustScaler

data = {
    'Value': [10, 20, 30, 40, 50]
}

df = pd.DataFrame(data)
df.head()

   Value
0     10
1     20
2     30
3     40
4     50

In [9]:
scaler =RobustScaler()
df['Value_scaled'] = scaler.fit_transform(df[['Value']])
df.head()

   Value  Value_scaled
0     10          -1.0
1     20          -0.5
2     30           0.0
3     40           0.5
4     50           1.0

## *Logarithm Scale / Normalization*

In [12]:
# Import Libraries
import numpy as np
import pandas as pd

# Create the DataFrame
data = {
    'Numbers': [10000, 20000, 30000, 100000, 50000]
}

df = pd.DataFrame(data)

# Apply logarithmic transformations
df['Numbers_scaled_log'] = np.log(df['Numbers'])
df['Numbers_scaled_log2'] = np.log2(df['Numbers'])
df['Numbers_scaled_log10'] = np.log10(df['Numbers'])

# Display the DataFrame
print(df)

   Numbers  Numbers_scaled_log  Numbers_scaled_log2  Numbers_scaled_log10
0    10000            9.210340            13.287712              4.000000
1    20000            9.903488            14.287712              4.301030
2    30000           10.308953            14.872675              4.477121
3   100000           11.512925            16.609640              5.000000
4    50000           10.819778            15.609640              4.698970