# Scaling and Normalization

In [1]:
# Import libraries
import pandas as pd 
from sklearn.preprocessing import StandardScaler, MinMaxScaler, MaxAbsScaler

In [2]:
# Make an example data using dictionary
data = {
    "age": [30, 20, 40, 45, 60],
    "height": [165, 170, 190, 155, 143],
    "weight": [80, 60, 55, 52, 62]

}
df = pd.DataFrame(data)

In [15]:
df.head()

   age  height  weight
0   30     165      80
1   20     170      60
2   40     190      55
3   45     155      52
4   60     143      62

In [16]:
# Standard Scaling
scalar = StandardScaler()

# Fit the scalar on data
scaled_df = scalar.fit_transform(df)
scaled_df

# Convert to dataframe
scaled_df = pd.DataFrame(scaled_df, columns=df.columns)
scaled_df.head()

array([[-0.6634888 ,  0.02546996,  1.86375262],
       [-1.40069858,  0.34384444, -0.18432718],
       [ 0.07372098,  1.61734236, -0.69634713],
       [ 0.44232587, -0.611279  , -1.0035591 ],
       [ 1.54814054, -1.37537775,  0.0204808 ]])

In [3]:
# MinMax Scaling
scalar = MinMaxScaler()

# Fit the scalar on data
scaled_df = scalar.fit_transform(df)
scaled_df

# Convert to dataframe
scaled_df = pd.DataFrame(scaled_df, columns=df.columns)
scaled_df.head()

     age    height    weight
0  0.250  0.468085  1.000000
1  0.000  0.574468  0.285714
2  0.500  1.000000  0.107143
3  0.625  0.255319  0.000000
4  1.000  0.000000  0.357143

In [4]:
# MaxAbs Scaling
scalar = MaxAbsScaler()

# Fit the scalar on data
scaled_df = scalar.fit_transform(df)
scaled_df

# Convert to dataframe
scaled_df = pd.DataFrame(scaled_df, columns=df.columns)
scaled_df.head()

        age    height  weight
0  0.500000  0.868421  1.0000
1  0.333333  0.894737  0.7500
2  0.666667  1.000000  0.6875
3  0.750000  0.815789  0.6500
4  1.000000  0.752632  0.7750